.detail-container{
  height: 100vh;
  display: flex;
  text-align: center;
  line-height: 1.5;
}

.detail-items{
  display: flex;
  width: 80%;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.detail-container .detail-items .detail-item-img{
  max-width: 400px;
}

.detail-items .detail-item-img img {
  width: 100%;
}
.detail-container .detail-items .detail-item-texts{
  max-width: 700px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .detail-items .detail-item-texts {
    margin-left: 16px;
  }
}

@media screen and (max-width: 425px) {
  .detail-items .detail-item-texts p {
    font-size: 14px;
  }
}
