@keyframes rotatingEffect {
  to{
    transform: rotate(360deg);
  }
}

@keyframes rotatingEffect2 {
  to {
    transform: rotate(-360deg);
  }
}

.container {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.loader-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.loader {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #e74c3c;
  position: relative;
  animation: rotatingEffect 2s linear infinite;
}

.loader::before, .loader::after {
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}
.loader::before {
  border-top: 10px solid #e67e22;
  transform: rotate(120deg);
}
.loader::after {
  border-top: 10px solid #3498db;
  transform: rotate(240deg);
}

.loader .loader__text{
  width: 200px;
  height: 200px;
  position: absolute;
  text-align: center;
  color: #3498db;
  line-height: 200px;
  animation: rotatingEffect2 2s linear infinite;
}

.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 70px;
  width: 80%;
}

